/* Your custom styles */

.top-nav-collapse {
    background-color: #f8bbd0 !important; 
}


.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
.intro-header {
    background: url(../img/snaptravel_header.jpeg) no-repeat; 
    background-size: cover;
    height:100vh
}


@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #f8bbd0 !important;
    } 
}


@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px; 
    } 
}

@media (max-width:580px) {
    .custom-mobile-list {
        color: #fff;
    }
    .custom-mobile-list h2 {
        font-size: 40px;
        padding-top:40px;
    }
    .custom-mobile-list h5 {
        font-size: 20px;
    }
}

/* section_first css */

#first_section {
    padding-top:30px;
}
.section_head_heading {
    text-align: center;
}
.section_head_desc {
    text-align:justify;
  }
  .section_content_sub_block {
    flex-basis:40%;
  }
  ul {
    list-style:none;
  }
  ul ul {
      list-style: disc;
  }
  .list_heading {
    border-bottom:1px solid #7a7a7a;
    margin-bottom:5px;
    font-weight: bold; 
  }
  .list_content {
    font-size:14px;
    text-align: justify;
  }
  .section_content_sub_block_heading {
    text-align:center;
  }
  @media (min-width:800px) {
    .section_content {
    display:flex;
    justify-content:space-between;
    }
    
  }
/* section_first_css */

/* section_second_css */
#section_second {
    padding-top:30px;
    background:#eee;
  }
  .section_head_heading {
      text-align: center;
  }
  .section_head_desc {
      text-align:justify;
    }
  #section_second ul {
    list-style:none;
    padding:0;
  }

  .list-styled-custom {
    list-style: disc !important;
    margin-left: 15px;
  }

  @media (max-height:580px) {
    .list-styled-custom {
        margin-left: 0px;
      }
  }
  
  
/* section_second_css */

/* section_third_css */
#section_third {
    padding-top: 30px;
}
/* section_third_css */

/* footer form css*/
@media (max-width:580px) {
    .mobile-icon-prefix {
        left:-8px;
    }
}
/* footer form css*/